<div class="header animate__animated animate__fadeIn">
    
    <div class="header__section">
        <span class="header__title">ZOOM Clone</span>
    </div>
    <div class="header__section">
        <ul class="nav-menu">
            <li class="nav-menu__btn">
                <i class="uil uil-estate"></i>
            </li>
            <li class="nav-menu__btn">
                <i class="uil uil-share"></i>
            </li>
            <li class="nav-menu__btn">
                <i class="uil uil-github-alt"></i>
            </li>
        </ul>
    </div>
    <div class="header__section">
        <div class="avatar">
            <img  class="avatar__img" src="https://avatars.githubusercontent.com/u/61285537?v=4" alt="avatar">
        </div>
    </div>
</div>

<main>
    <div class="options-menu">

        <div class="options-menu__block animate__animated animate__fadeIn" (click)="goToRoom()">
            <div class="options-menu__btn">
                <i class="uil uil-video"></i>
            </div>
            <div class="options-menu__label">Nueva reunión</div>
        </div>

    </div>
</main>
